body {
    margin: 0;
    display: flex;
    justify-content: center;
}

.wrapper {
    background-color: lightgray;
    display: flex;
    width: 500px;
    height: 400px;
}

.drop {
    width: 100px;
    height: 100px;
    position: relative;
    margin-right: 25px;
    margin-left: 25px;
    animation-name: animation;
    animation-fill-mode: forwards;
    animation-delay: calc(var(--order) * 200ms);
    animation-duration: 5s;
    
}

@keyframes animation {
    from {top: 0px;}
    to {top: 200px;}
}