.row-wrapper {
    background-color: rgba(214, 212, 211, 0.795);
    display: flex;
}
.column-wrapper {
   margin: 2px;
   padding: 10px;
   text-align: center;
   width: 300px;
   font-size: 30px;
   line-height: 20px;
}
.column-wrapper div {
    background-color: rgb(45, 100, 219);
    margin: 2px;
    padding: 10px;
    font-size: 30px;
    line-height:20px;
    text-align: center;
}