.wrapper {
    height: 100vh;
    background-color: gainsboro;
    display: flex;
    align-items: center;
    justify-content: center;
}
.flying-box {
    text-align: center;
    background-color: rgb(172, 26, 26);
    width: 300px;
    padding: 30px;
    color: rgb(231, 225, 225);
}