.wrapper {
    background-color:gray ;
    height: 100vh;
}
.flying-box {
    background-color: brown;
    width: 300px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.flying-box p {
    text-align: center;
    justify-content: center;
}